/* You can add global styles to this file, and also import other style files */

$color-1: #11698C;
$color-2: #122426;
$color-3: #F2DDD5;
$color-4: #F28705;
$color-5: #8C6E68;
body {
    background-color: $color-1;
}